In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data2017 = pd.read_csv("/content/drive/My Drive/Movie/movies2017.csv")

In [4]:
data2018 = pd.read_csv("/content/drive/My Drive/Movie/movies2018.csv")
data2019 = pd.read_csv("/content/drive/My Drive/Movie/movies2019.csv")
data2020 = pd.read_csv("/content/drive/My Drive/Movie/movies2020.csv")
data2021 = pd.read_csv("/content/drive/My Drive/Movie/movies2021.csv")
data2022 = pd.read_csv("/content/drive/My Drive/Movie/movies2022.csv")

In [5]:
movies = data2018.append(data2019,ignore_index=True)

In [6]:
movies

,id,director,actor1,actor2,actor3,genres,keywords,title,comb
0,406563,adamrobitel,linshaye,angussampson,leighwhannell,Horror Mystery Thriller,haunted hous prequel spirit 1950s,insidious: the last key,Horror Mystery Thriller haunted hous prequel s...
1,426258,laurenwolkstein,alexpettyfer,jamesfreedson-jackson,marinireland,Thriller Drama,sibling relationship fire motel nightmar road ...,the strange ones,Thriller Drama sibling relationship fire motel...
2,348389,simonwest,dominiccooper,gemmachan,connienielsen,Action Thriller,based on novel or book terrorist,stratton,Action Thriller based on novel or book terrori...
3,468210,warwickthornton,hamiltonmorris,bryanbrown,samneill,Drama Western Thriller,rape slaveri court cas bibl based on true stor...,sweet country,Drama Western Thriller rape slaveri court cas ...
4,399035,jaumecollet-serra,liamneeson,verafarmiga,patrickwilson,Action Thriller Mystery,conspiraci train,the commuter,Action Thriller Mystery conspiraci train liamn...
...,...,...,...,...,...,...,...,...,...
514,431693,troyquane,willsmith,tomholland,benmendelsohn,Animation Action Adventure Comedy Family,spi,spies in disguise,Animation Action Adventure Comedy Family spi w...
515,331482,gretagerwig,saoirseronan,florencepugh,emmawatson,Drama Romance History,new york c sibling relationship based on novel...,little women,Drama Romance History new york c sibling relat...
516,530915,sammendes,georgemackay,dean-charleschapman,markstrong,War Drama History,world war i,1917,War Drama History world war i georgemackay dea...
517,522212,destindanielcretton,michaelb.jordan,brielarson,jamiefoxx,Drama Crime History,based on true stori lawyer racism 1980s,just mercy,Drama Crime History based on true stori lawyer...
518,565307,chinonyechukwu,alfrewoodard,richardschiff,aldishodge,Drama,prison woman director,clemency,Drama prison woman director alfrewoodard richa...

In [7]:
movies = movies.append(data2020,ignore_index=True)

In [8]:
movies = movies.append(data2021,ignore_index=True)

In [9]:
movies = movies.append(data2022,ignore_index=True)

In [10]:
movies

,id,director,actor1,actor2,actor3,genres,keywords,title,comb
0,406563,adamrobitel,linshaye,angussampson,leighwhannell,Horror Mystery Thriller,haunted hous prequel spirit 1950s,insidious: the last key,Horror Mystery Thriller haunted hous prequel s...
1,426258,laurenwolkstein,alexpettyfer,jamesfreedson-jackson,marinireland,Thriller Drama,sibling relationship fire motel nightmar road ...,the strange ones,Thriller Drama sibling relationship fire motel...
2,348389,simonwest,dominiccooper,gemmachan,connienielsen,Action Thriller,based on novel or book terrorist,stratton,Action Thriller based on novel or book terrori...
3,468210,warwickthornton,hamiltonmorris,bryanbrown,samneill,Drama Western Thriller,rape slaveri court cas bibl based on true stor...,sweet country,Drama Western Thriller rape slaveri court cas ...
4,399035,jaumecollet-serra,liamneeson,verafarmiga,patrickwilson,Action Thriller Mystery,conspiraci train,the commuter,Action Thriller Mystery conspiraci train liamn...
...,...,...,...,...,...,...,...,...,...
1480,850028,marynighy,annakendrick,kaniehtiiohorn,charliecarrick,Thriller Drama,female friendship friendship psychological abu...,"alice, darling",Thriller Drama female friendship friendship ps...
1481,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...
1482,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...
1483,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...
1484,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...

In [11]:
final_data = data2017.append(movies,ignore_index=True)

In [12]:
final_data

,id,director,actor1,actor2,actor3,genres,keywords,title,comb
0,862,johnlasseter,tomhanks,timallen,donrickles,Animation Comedy Family,jealousi toy boy friendship friend rivalri boy...,toy story,Animation Comedy Family jealousi toy boy frien...
1,8844,joejohnston,robinwilliams,jonathanhyde,kirstendunst,Adventure Fantasy Family,board gam disappear based on children's book n...,jumanji,Adventure Fantasy Family board gam disappear b...
2,15602,howarddeutch,waltermatthau,jacklemmon,ann-margret,Romance Comedy,fish best friend duringcreditssting,grumpier old men,Romance Comedy fish best friend duringcreditss...
3,31357,forestwhitaker,whitneyhouston,angelabassett,lorettadevine,Comedy Drama Romance,based on novel interracial relationship single...,waiting to exhale,Comedy Drama Romance based on novel interracia...
4,11862,charlesshyer,stevemartin,dianekeaton,martinshort,Comedy,babi midlife crisi confid age daughter mother ...,father of the bride part ii,Comedy babi midlife crisi confid age daughter ...
...,...,...,...,...,...,...,...,...,...
10699,850028,marynighy,annakendrick,kaniehtiiohorn,charliecarrick,Thriller Drama,female friendship friendship psychological abu...,"alice, darling",Thriller Drama female friendship friendship ps...
10700,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...
10701,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...
10702,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...
10703,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...

In [13]:
final_data[final_data['title'].isnull()]

,id,director,actor1,actor2,actor3,genres,keywords,title,comb
10371,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc danc hors road trip flashback family rela...,NaN,Comedy danc danc hors road trip flashback fami...
10700,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...
10701,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...
10702,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...
10703,647808,catherinetate,mathewhorne,katherineparkinson,nikywardley,Comedy,danc handcuff jealousi danc nightclub hors dub...,NaN,Comedy danc handcuff jealousi danc nightclub h...

In [14]:
final_data.drop([10371,10700,10701,10702,10703])

,id,director,actor1,actor2,actor3,genres,keywords,title,comb
0,862,johnlasseter,tomhanks,timallen,donrickles,Animation Comedy Family,jealousi toy boy friendship friend rivalri boy...,toy story,Animation Comedy Family jealousi toy boy frien...
1,8844,joejohnston,robinwilliams,jonathanhyde,kirstendunst,Adventure Fantasy Family,board gam disappear based on children's book n...,jumanji,Adventure Fantasy Family board gam disappear b...
2,15602,howarddeutch,waltermatthau,jacklemmon,ann-margret,Romance Comedy,fish best friend duringcreditssting,grumpier old men,Romance Comedy fish best friend duringcreditss...
3,31357,forestwhitaker,whitneyhouston,angelabassett,lorettadevine,Comedy Drama Romance,based on novel interracial relationship single...,waiting to exhale,Comedy Drama Romance based on novel interracia...
4,11862,charlesshyer,stevemartin,dianekeaton,martinshort,Comedy,babi midlife crisi confid age daughter mother ...,father of the bride part ii,Comedy babi midlife crisi confid age daughter ...
...,...,...,...,...,...,...,...,...,...
10695,696157,kasilemmons,naomiackie,ashtonsanders,stanleytucci,Drama History Music,musician biographi singer lgbt,i wanna dance with somebody,Drama History Music musician biographi singer ...
10696,800815,scottcooper,christianbale,harrymelling,gilliananderson,Mystery Thriller,based on novel or book,the pale blue eye,Mystery Thriller based on novel or book christ...
10697,777245,sarahpolley,rooneymara,clairefoy,jessiebuckley,Drama,rape based on novel or book religion woman dir...,women talking,Drama rape based on novel or book religion wom...
10698,937278,marcforster,tomhanks,marianatreviño,kaileyhyman,Drama Comedy,based on novel or book,a man called otto,Drama Comedy based on novel or book tomhanks m...
10699,850028,marynighy,annakendrick,kaniehtiiohorn,charliecarrick,Thriller Drama,female friendship friendship psychological abu...,"alice, darling",Thriller Drama female friendship friendship ps...

In [15]:
final_data.to_csv('final_data.csv',index=False)

In [16]:
from google.colab import files
files.download("final_data.csv")